<div class="menu-bar__container">
    <div class="menu-bar__logo">
        <img src="assets/ps-logo.png" alt="playstation logo" width="140px" height="32px">
    </div>
    <div class="menu-bar__item">
        <ul>
            <li><a href="https://www.linkedin.com/in/nataliafdangelo/" target="_blank">LINKEDIN</a></li>
            <li><a href="https://github.com/NataliaFerreiraDev" target="_blank">GITHUB</a></li>
            <li><a href="https://nataliaferreiradev.github.io/" target="_blank">PORTIFOLIO</a></li>
        </ul>
    </div>
</div>